:root {
    --bs-body-font-family: "Geologica", sans-serif;
}

a.disabled {
    pointer-events: none;
    opacity: 0.65;
}

.inner-shadow {
    box-shadow: var(--bs-box-shadow-inset) !important;
}

.form-check-input.form-check-input-warning-emphasis:checked {
    background-color: var(--bs-warning-text-emphasis) !important;
    border-color: var(--bs-warning-text-emphasis) !important;
}
