<form id="screening_form">
    <div class="card text-start mt-3 bg-primary-subtle inner-shadow">
        <div class="card-body">
            <h5 class="card-title text-primary-emphasis">
                <i class="fa-solid fa-circle-user"></i>
                Data Diri dan Riwayat Kehamilan
            </h5>
            <div class="form-floating mt-3">
                <input type="text" class="form-control" name="name" id="name" placeholder="Nama" required>
                <label for="name">1. Nama</label>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-floating mt-3">
                        <input type="number" class="form-control" name="age" id="age" placeholder="Usia" min="1"
                            required>
                        <label for="age">2. Usia (tahun)</label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-floating mt-3">
                        <input type="number" class="form-control" name="height" id="height" placeholder="Tinggi Badan"
                            min="1" required>
                        <label for="height">3. Tinggi Badan (cm)</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-floating mt-3">
                        <input type="number" class="form-control" name="gravida" id="gravida" placeholder="..." min="1"
                            required>
                        <label for="gravida">4. Hamil ke ...</label>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-floating mt-3">
                        <input type="number" class="form-control" name="current_pregnancy_weeks"
                            id="current_pregnancy_weeks" placeholder="..." min="1" required>
                        <label for="current_pregnancy_weeks">5. Usia Kehamilan (minggu)</label>
                    </div>
                </div>
            </div>
            <div class="form-floating mt-3">
                <input type="number" class="form-control" name="marriage_year" id="marriage_year" placeholder="..."
                    min="1" required>
                <label for="marriage_year">6. Tahun Menikah</label>
            </div>
            <div class="form-floating mt-3">
                <input type="number" class="form-control" name="first_pregnancy_year" id="first_pregnancy_year"
                    placeholder="..." min="1" required>
                <label for="first_pregnancy_year">7. Tahun Hamil Pertama</label>
            </div>
            <div class="form-floating mt-3">
                <input type="number" class="form-control" name="last_delivery_year" id="last_delivery_year"
                    placeholder="..." min="1" required disabled>
                <label for="last_delivery_year">8. Tahun Melahirkan Terakhir</label>
            </div>
        </div>
    </div>
    <div class="card text-start mt-3 bg-warning-subtle inner-shadow">
        <div class="card-body">
            <h5 class="card-title text-warning-emphasis">
                <i class="fa-solid fa-triangle-exclamation"></i>
                Riwayat Komplikasi & Penyakit
            </h5>
            <div class="mb-3">
                <label class="form-label">9. Pernah gagal kehamilan? (BO/abortus)</label>
                <div>
                    <input type="radio" class="btn-check" name="history_failed_pregnancy" value="ya"
                        id="history_failed_pregnancy_ya" autocomplete="off">
                    <label class="btn btn-outline-danger" for="history_failed_pregnancy_ya">Ya</label>
                    <input type="radio" class="btn-check" name="history_failed_pregnancy" value="tidak"
                        id="history_failed_pregnancy_tidak" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="history_failed_pregnancy_tidak">Tidak</label>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">10. Pernah operasi sesar? <span class="text-danger-emphasis"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Keadaan darurat obstetri"><i
                            class="fa-solid fa-circle-exclamation"></i></span></label>
                <div>
                    <input type="radio" class="btn-check" name="history_csection" value="ya" id="history_csection_ya"
                        autocomplete="off">
                    <label class="btn btn-outline-danger" for="history_csection_ya">Ya</label>
                    <input type="radio" class="btn-check" name="history_csection" value="tidak"
                        id="history_csection_tidak" autocomplete="off" checked>
                    <label class="btn btn-outline-success" for="history_csection_tidak">Tidak</label>
                </div>
            </div>
            <label class="form-label">11. Pernah melahirkan dengan: (pilih semua yang
                sesuai)</label>
            <div class="mb-3">
                <div class="form-check">
                    <input class="form-check-input form-check-input-warning-emphasis" type="checkbox"
                        name="delivery_complications" value="tarikan tang/vakum" id="delivery_complications1">
                    <label class="form-check-label" for="delivery_complications1">
                        Tarikan tang/vakum
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input form-check-input-warning-emphasis" type="checkbox"
                        name="delivery_complications" value="uri dirogoh" id="delivery_complications2">
                    <label class="form-check-label" for="delivery_complications2">
                        Uri dirogoh
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input form-check-input-warning-emphasis" type="checkbox"
                        name="delivery_complications" value="diberi infus/transfusi" id="delivery_complications3">
                    <label class="form-check-label" for="delivery_complications3">
                        Diberi infus/transfusi
                    </label>
                </div>
            </div>
            <label class="form-label">12. Penyakit pada ibu hamil: (pilih semua yang
                sesuai)</label>
            <div>
                <div class="form-check">
                    <input class="form-check-input form-check-input-warning-emphasis" type="checkbox"
                        name="maternal_diseases" value="kurang darah" id="maternal_diseases1">
                    <label class="form-check-label" for="maternal_diseases1">
                        Anemia (kurang darah)
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input form-check-input-warning-emphasis" type="checkbox"
                        name="maternal_diseases" value="autoimun" id="maternal_diseases2">
                    <label class="form-check-label" for="maternal_diseases2">
                        Autoimun
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input form-check-input-warning-emphasis" type="checkbox"
                        name="maternal_diseases" value="diabetes" id="maternal_diseases3">
                    <label class="form-check-label" for="maternal_diseases3">
                        Diabetes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input form-check-input-warning-emphasis" type="checkbox"
                        name="maternal_diseases" value="hepatitis B" id="maternal_diseases4">
                    <label class="form-check-label" for="maternal_diseases4">
                        Hepatitis B
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input form-check-input-warning-emphasis" type="checkbox"
                        name="maternal_diseases" value="hipertensi" id="maternal_diseases5">
                    <label class="form-check-label" for="maternal_diseases5">
                        Hipertensi
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input form-check-input-warning-emphasis" type="checkbox"
                        name="maternal_diseases" value="jantung" id="maternal_diseases6">
                    <label class="form-check-label" for="maternal_diseases6">
                        Jantung
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input form-check-input-warning-emphasis" type="checkbox"
                        name="maternal_diseases" value="TBC paru" id="maternal_diseases7">
                    <label class="form-check-label" for="maternal_diseases7">
                        TB Paru
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input form-check-input-warning-emphasis" type="checkbox"
                        name="maternal_diseases" value="malaria" id="maternal_diseases8">
                    <label class="form-check-label" for="maternal_diseases8">
                        Malaria
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input form-check-input-warning-emphasis" type="checkbox"
                        name="maternal_diseases" value="Penyakit Menular Seksual" id="maternal_diseases9">
                    <label class="form-check-label" for="maternal_diseases9">
                        Penyakit Menular Seksual (contoh: sifilis, HIV, klamidia, gonore)
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-start mt-3 bg-danger-subtle inner-shadow">
        <div class="card-body">
            <h5 class="card-title text-danger-emphasis">
                <i class="fa-solid fa-face-frown"></i>
                Komplikasi Kehamilan Saat Ini
            </h5>
            <div id="boolean_questions">
                <!-- questions will be inserted here by script -->
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success mt-3 w-100">CEK SKOR</button>
    <div id="result_area">
        <!-- content will be generated by script -->
    </div>
</form>
