<form action="#">
    <div class="card text-start mt-3">
        <div class="card-body bg-primary-subtle rounded-1 inner-shadow">
            <h5 class="card-title text-primary-emphasis">
                <i class="fa-regular fa-circle-user"></i>
                I. Data Diri dan Riwayat Kehamilan
            </h5>
            
        </div>
    </div>
    <div class="card text-start mt-3">
        <div class="card-body bg-warning-subtle rounded-1 inner-shadow">
            <h5 class="card-title text-warning-emphasis">
                <i class="fa-solid fa-triangle-exclamation"></i>
                II. Riwayat Komplikasi & Penyakit
            </h5>
        </div>
    </div>
    <div class="card text-start mt-3">
        <div class="card-body bg-danger-subtle rounded-1 inner-shadow">
            <h5 class="card-title text-danger-emphasis">
                <i class="fa-regular fa-face-frown"></i>
                III. Komplikasi Kehamilan Saat Ini
            </h5>
        </div>
    </div>
</form>
